.addToCart {
  background-color: #d7d7d79a;
  border: 0;
  position: relative;
  padding: 5px;
  border-radius: 100px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 10;
}
.addToCartIcon {
  width: 20px;
  height: 20px;
  transition: color var(--transition-250);
  vertical-align: middle;
}
.addToCart:hover .addToCartIcon,
.addToCart:focus .addToCartIcon {
  align-self: center;
  color: var(--pressed-state-color);
}
.addToCart:hover,
.addToCart:focus {
  cursor: pointer;
  background-color: var(--white-color);
}
.success {
  color: darkgreen;
  background-color: #d7d7d79a;
  border: 0;
  position: relative;
  padding: 5px;
  border-radius: 100px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 10;
}

@media screen and (max-width: 418px) {
  .ProductList {
    gap: 16px;
  }

  .ProductListItem {
    width: 116px;
    /* height: 400; */
  }
}

@media screen and (min-width: 418px) {
  .ProductList {
    gap: 38px;
  }

  .ProductListItem {
    width: 176px;
    /* height: 400; */
  }
}
@media screen and (min-width: 768px) {
  .ProductList {
    column-gap: 24px;
    row-gap: 42px;
  }
  .ProductListItem {
    width: 205px;
  }
}
@media screen and (min-width: 1200px) {
  .ProductList {
    row-gap: 48px;
  }
}
.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ProductListItem {
  background: var(--white-color);
  transition: box-shadow var(--transition-250);
  max-width: 356px;
  max-height: 400;
}

.ProductListItem:hover,
.ProductListItem:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.ProductText {
  padding-top: 32px;
  /* border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color); */
  background-color: #fff;
  /* height: 100px; */
}

.ProductItemTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2; /* 24/20 */
  color: var(--dark-color);
  margin-bottom: 8px;
}
.ProductItemText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  color: var(--text-color);
}
.imgWrapper {
  position: relative;
  display: block;
  overflow: hidden;
}
.prodImg {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transform: translate(0, 100%);
  transition: transform var(--transition-250);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--primary-brand-color);
}
.ProductListLink:hover .overlay,
.ProductListLink:focus .overlay {
  transform: translate(0, 0);
}
