.Form {
  /* font-family: georgia, serif; */
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  max-width: 450px;
  /* margin-left: 20px; */
  padding: 20px;
  max-height: 500px;
  /* border: 2px solid #757575; */
  box-shadow: 0px 0px 8px 0px rgba(97, 93, 76, 1);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(97, 93, 76, 1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(97, 93, 76, 1);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.FormTitle {
  position: relative;
  font-size: 28px;
}
.Group {
  position: relative;
  margin-bottom: 25px;
}
/* .Label {
  color: #999;
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
} */
.Input {
  /* font-family: georgia, serif; */
  font-size: 20px;
  font-weight: normal;
  line-height: 150%;

  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
.Input:focus {
  outline: none;
}
/* Input:focus ~ label,
Input:valid ~ label {
  top: -20px;
  font-size: 16px;
} */
/* .Label {
  top: -20px;
  font-size: 16px;
} */
.Button {
  appearance: none;
  background-color: transparent;
  border: 1px solid #d0a947;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  align-self: end;

  /* font-family: georgia, serif; */
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding: 0px;
  /* max-width: 200px; */

  outline: none;
  padding: 6px 8px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  text-transform: uppercase;
}

.Button:disabled {
  pointer-events: none;
  border-color: #757575;
  background-color: gray;
}

.Button:active:hover {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.Button:active {
  box-shadow: none;
  transform: translateY(0);
}

@media screen and (max-width: 485px) {
  .Input {
    width: 250px;
  }
  .FormTitle {
    font-size: 24px;
  }
}
