.logoIcon {
  width: 90px;
}
.logo:hover .logoIcon,
.logo:focus .logoIcon {
  fill: var(--pressed-state-color);
}

.cartIconInfo {
  width: 14px;
  height: 14px;
  background-color: var(--color-accent-primary);
  border-radius: 100px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 10px;
  position: relative;
  bottom: 22px;
  left: 13px;
}

.cartIcon {
  width: 24px;
  height: 24px;
  transition: color var(--transition-250);
  vertical-align: middle;
  position: relative;
  top: 5px;
}
.cartIcon:hover,
.cartIcon:focus {
  align-self: center;
  color: var(--pressed-state-color);
}

.container {
  box-sizing: border-box;
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .navigationLink {
    padding-top: 24px;
    padding-bottom: 22px;
  }
}
@media screen and (min-width: 768px) {
  .adressList {
    padding-top: 23px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigationLink {
    padding-top: 24px;
    padding-bottom: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adressList {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text-color);
  }
}

@media screen and (min-width: 1200px) {
  .adressItem:not(:last-child) {
    margin-right: 40px;
  }
  .adressItem {
    padding-top: 24px;
    padding-bottom: 28px;
  }

  .adressList {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
  }
  .navigationLink {
    padding-top: 24px;
    padding-bottom: 28px;

    position: relative;
  }
  .adressLink {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}
.navigation {
  display: flex;
  align-items: center;
}
.navigationList {
  margin-left: 46px;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 440px) {
  .navigationList {
    margin-left: 20px;
    gap: 10px;
  }
}

.navigationLink {
  position: relative;
}

.adressList {
  display: flex;
  align-items: center;
}

.link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: color var(--transition-250);
}

.navigationList .link:hover,
.navigationList .link:focus {
  color: var(--pressed-state-color);
}

.currentPage::after {
  content: '';
  color: var(--pressed-state-color);
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background: var(--pressed-state-color);
  border-radius: 2px;
}
.currentPage {
  color: var(--pressed-state-color);
}
.navigation > .logo {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33; /* 24/18 */
  text-decoration: none;
  color: var(--dark-color);
}

.adressLink {
  color: var(--text-color);
  transition: color var(--transition-250);
}
.adressLink:hover,
.adressLink:focus {
  color: var(--primary-brand-color);
}

/* FOTER */
footer {
  margin-top: 50px;
}

@media screen and (max-width: 767px), screen and (min-width: 767px) {
  .footerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }
  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerSocialListBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerSocialList {
    display: flex;
    gap: 16px;
  }
  .subscribe-item {
    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .email-label {
    margin: 0;
  }
  .email-input {
    /* max-width: 398px; */
    height: 40px;
  }
}
@media screen and (max-width: 440px) {
  .email-input {
    width: 258px;
  }
}
@media screen and (min-width: 768px) {
  .footerList {
    margin-left: auto;
    margin-right: auto;
    padding-left: 108px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footerSocialListBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footerSocialList {
    display: flex;
    gap: 16px;
  }

  .subscribe-item {
    margin-right: 0;
    margin-left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
  }
  .email-input {
    width: 264px;
    height: 40px;
  }
  .email-label {
    margin-right: 24px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) {
  .footerList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 15px;
  }
  .footerContainer {
    width: 264px;
    height: 110px;
    margin-right: 120px;
  }
  .footerSocialListBox {
    width: 208px;
    margin-right: 80px;
  }
}
.footer {
  background-color: rgb(50, 55, 55);
  color: #e5e5e5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footerContainer > .logo {
  fill: var(--light-color);
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
}
.footerContainer > .logo > .logoIcon {
  width: 200px;
}
.footerText {
  margin-top: 16px;
  width: 264px;
  height: 72px;
  display: flex;
  flex-wrap: wrap;
}
.footerContainer {
  width: 264px;
  height: 110px;
}

.footerSocialListBox {
  width: 208px;
}
.footerSocialList {
  display: flex;
  justify-content: space-between;
}
.footerContainText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.footerSocialListLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-250);
}
.footerSocialListLink:hover,
.footerSocialListLink:focus {
  background-color: var(--pressed-state-color);
}
.footerSocialListIcon {
  width: 24px;
  height: 24px;
  fill: var(--light-color);
}

/* ///////////////////////Menu-Container */
.subscribe-form {
  display: flex;
}
.email-label {
  box-sizing: border-box;
}
.email-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 10px;
  color: var(--white-color);
  outline: none;
}
.email-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  margin: 0;

  width: 165px;
  height: 40px;

  background-color: var(--primary-brand-color);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-250);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--white-color);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-state-color);
}
.footer-subscribe-icon {
  width: 24px;
  height: 24px;
  fill: var(--light-color);
}
