.container {
  box-sizing: border-box;
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .navigationLink {
    padding-top: 24px;
    padding-bottom: 22px;
  }
}
@media screen and (min-width: 768px) {
  .navigationLink {
    padding-top: 24px;
    padding-bottom: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .navigationLink {
    padding-top: 24px;
    padding-bottom: 28px;

    position: relative;
  }
}
.navigation {
  display: flex;
  align-items: center;
}
.navigationList {
  margin-left: 46px;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 440px) {
  .navigationList {
    margin-left: 20px;
    gap: 10px;
  }
}

.navigationLink {
  position: relative;
}

.link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: color var(--transition-250);
}

.navigationList .link:hover,
.navigationList .link:focus {
  color: var(--pressed-state-color);
}

.currentPage::after {
  content: '';
  color: var(--pressed-state-color);
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background: var(--pressed-state-color);
  border-radius: 2px;
}
.currentPage {
  color: var(--pressed-state-color);
}

/* FOTER */

.footer {
  background-color: rgb(50, 55, 55);
  color: #e5e5e5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 70px;
}
