/* Mobile menu */
/* @media screen and (max-width: 440px) {
  .mobile-menu {
    width: 440px;
    transform: scale(0.75) translate(-15%, -15%);
  }
}
@media screen and (max-width: 375px) {
  .mobile-menu {
    width: 440px;
    transform: scale(0.65) translate(-25%, -25%);
  }
} */

/* @media screen and (max-width: 767px) {
  .navigation-list,
  .adress-item {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .navigation-list,
  .adress-item {
    display: none;
  }
} */

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 60px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .navigation-list,
  .adress-item {
    display: flex;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 550ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  top: 16px;
  right: 16px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 100px;
  position: relative;
}

.mobile-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.nav-link {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--dark-color);
  transition: color var(--transition-250);
}
.mobile-navigation-link:last-child .nav-link {
  color: var(--pressed-state-color);
}

.mobile-navigation {
  margin-bottom: 84px;
}
.mobile-adress-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-adress-link {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  height: 36px;
}
/* .mobile-adress-link:hover,
.mobile-adress-link:focus {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: var(--primary-brand-color);
} */

.mobile-adress-item:first-child .mobile-adress-link {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--primary-brand-color);
}

.mobile-social-list-box {
  width: 328px;
  height: 40px;
  margin-right: 80px;
}
.mobile-social-list {
  margin-top: 48px;
  display: flex;
  gap: 56px;
  justify-content: center;
}

.mobile-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-250);
  background-color: var(--primary-brand-color);
}
.mobile-social-list-link:hover,
.mobile-social-list-link:focus {
  background-color: var(--pressed-state-color);
}
.mobile-social-list-icon {
  width: 44px;
  height: 44px;
  fill: var(--light-color);
}
.mobile-close-btn {
  width: 24px;
  height: 24px;
  background-color: var(--primary-brand-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--transition-250);
  position: absolute;
  right: 0%;
}
.mobile-close-btn-icon {
  width: 48px;
  height: 48px;
  transition: background-color var(--transition-250);
  fill: var(--white-color);
}
.mobile-close-btn:hover,
.mobile-close-btn:focus {
  background-color: var(--pressed-state-color);
  border-color: transparent;
  cursor: pointer;
}
.mobile-close-btn:hover,
.mobile-close-btn:focus .mobile-close-btn-icon {
  fill: var(--color-gray-pale-alpha050);
}
.mobile-menu-button {
  width: 24px;
  height: 24px;
  fill: #000;
}
.mobile-close-btn {
  z-index: 1;
}
